<%= render 'layouts/navigation' %>

<div class="container-contact100">

	<div class="wrap-contact100">
		
		<!-- Contact form -->
		<%= render 'form' %>

		<!-- Static contact information --> 
		<%= render 'form_static_info' %>
			
	</div>
</div>